.💪 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.grid-container {
  width: 960px;
  background-color: rebeccapurple;
}
.grid-pixel {
  background-color: red;
}