body {
  background-color: #999;
}

button {
  background-color: transparent;
  border: none;
  /* border: 2px solid;
  border-color: transparent;
  border-radius: 8px; */
  padding: 12px;
  outline: none;
  transition: all .1s ease-out;
}

button:hover {
  transform: translate(0, -2px);
}

button:active {
  transform: translateY(1px);
}

label {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  opacity: 0.7;
  background-color: #000;
}

.🌈 {
  background:linear-gradient(90deg,
                            rgba(76, 0, 130, 0.7),
                            rgba(76, 0, 130, 0.7) 20%,
                            rgba(0, 128, 0, 0.7) 20%,
                            rgba(0, 128, 0, 0.7) 40%,
                            rgba(255, 255, 0, 0.7) 40%,
                            rgba(255, 255, 0, 0.7) 60%,
                            rgba(255, 166, 0, 0.7) 60%,
                            rgba(255, 166, 0, 0.7) 80%,
                            rgba(255, 0, 0, 0.7) 80%
  ) !important;


}

#myColor {
  visibility: hidden;
}

.paint {
  opacity: 0.7;
}

.💪 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.↕️ {
  flex-direction: column;
}

.🖼 {
  box-sizing: border-box
}

.container-position {
  position: relative;
}

.controls-container {
  background-color: rgba(201, 197, 197, 0.8);
  padding: 12px 20px;
  border-radius: 24px;
  position: absolute;
  bottom: 5%;
  visibility: hidden;
}

.grid-container {
  width: 960px;
  border-radius: 24px;
  background: radial-gradient(rgb(223, 221, 223), #f1f0f0);
}

.container-btn {
  width: 120px;
}

.💪.container-btn {
  justify-content: space-between;
}

.grid-pixel {
  background-color: transparent;
}

.slidecontainer {
  width: 160px;
}

.slidecontainer::before {
  background-image: url('/imgs/grid_small.png');
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "";
  vertical-align: middle;
}

.slidecontainer::after {
  background-image: url('/imgs/grid_big.png');
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "";
  vertical-align: middle;
}

.divider {
  width: 2px;
  height: 36px;
  margin: 6px 20px;
  border-radius: 16px;
  background-color: #999;
}

.btn-erase {
  background: url('/imgs/bin.png') no-repeat;
  background-size: 24px 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.btn-rainbow {
  background: url('/imgs/rainbow.png') no-repeat;
  background-size: 24px 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  height: 2px;
  outline: none;
  background-color: #999;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  vertical-align: middle;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #666;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #666;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}