button {
  background-color: transparent;
  border: 2px solid;
  border-color: transparent;
  border-radius: 8px;
  outline: none;
  padding: 12px 12px;
  transition: all .1s ease-out;
}

button:hover {
  border-color: rgba(128, 128, 128, 0.575);
  box-shadow: 0 4px #999;
  transform: translate(0, -2px);
}

button:active {
  background-color: rgba(153, 153, 153, 0.342);
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}

label {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  /* background-color: #000; */
  background:linear-gradient(225deg, Red, Orange, Yellow, Green, violet);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#myColor {
  visibility: hidden;
}

.💪 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.↕️ {
  flex-direction: column;
}

.🖼 {
  box-sizing: border-box
}

.controls-container {
  background-color: rgba(128, 128, 128, 0.425);
  padding: 12px 32px;
  border-radius: 24px;
}

.grid-container {
  width: 960px;
  background-color: rebeccapurple;
}

.grid-pixel {
  background-color: red;
}

.grid-pixel.paint {
  background-color: black;
}

.slidecontainer::before {
  background-image: url('/imgs/grid_small.png');
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: auto 4px;
  content: "";
}

.slidecontainer::after {
  background-image: url('/imgs/grid_big.png');
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: auto 4px;
  content: "";
}

.divider {
  width: 2px;
  height: 36px;
  margin: 6px 20px;
  border-radius: 16px;
  background-color: #999;
}

